.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.textarea {
  border: none;
  border-radius: 6px;
  background-color: rgb(247, 247, 247);
  width: 100%;
  padding: 4px 12px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.type-and-date-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
}
.form__types {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 12px;
}
.type {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 3px 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.health-selected {
  border: 1px solid #9747ff;
}
.home-selected {
  border: 1px solid #639462;
}
.work-selected {
  border: 1px solid #0053cf;
}
.other-selected {
  border: 1px solid #ea8c00;
}
.form__date {
  width: 128px;
  height: 32px;
  border: none;
}
.date {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgb(15, 129, 211);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
