* {
  font-family: Inter !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid grey; */
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 1024px;
}
.sidebar__dashboard,
.sidebar__pages {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 5px;
  margin-bottom: 16px;
  margin-left: 20px;
  color: #9d9fa2;
}
.sidebar__dashboard__element,
.sidebar__pages__element {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 46px;
  width: 232px;
  text-transform: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: normal;

  color: #5f6980;
}
