* {
  font-family: Inter !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid grey; */
}
body {
  background-color: #f2f4f7;
}
.logo {
  padding-top: 24px;
  padding-left: 20px;
  /* margin-bottom: 56px; */
  width: 232px;
  height: 66px;
  border-right: 1px solid #eaecf0;

  background-color: #fff;
}
.sidebar {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 1024px;
  /* border: 1px solid rgb(25, 239, 71); */
  border-right: 1px solid #eaecf0;
  background-color: #fff;
}
.sidebar__dashboard,
.sidebar__pages {
  width: 100%;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 5px;
  margin-bottom: 16px;
  margin-left: 20px;
  color: #9d9fa2;
  border: 1px solid red;
}
.sidebar__dashboard__element,
.sidebar__pages__element {
  height: 46px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;

  align-items: center;

  text-transform: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 46px;
  letter-spacing: normal;

  color: #5f6980;

  border: 1px solid rgb(146, 16, 146);
}
.sidebar__dashboard__element__icon,
.sidebar__pages__element__icon {
  width: 20px;
  height: 100%;
  margin: auto 0;
  /* border: 1px solid rgb(146, 16, 146); */
}
.sidebar__dashboard__element__title,
.sidebar__pages__element__title {
  margin-left: 12px;
  /* border: 1px solid rgb(146, 16, 146); */
}
.sidebar__dashboard__element__arrowDown,
.sidebar__pages__element__arrowDown {
  margin-left: auto;
  margin-right: 22px;
  /* border: 1px solid rgb(146, 16, 146); */
}
.sidebar__footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 0;
  margin-top: auto;

  border-top: 1px solid #eaecf0;
}
.header {
  display: flex;
  flex-direction: row;
}
.header__main {
  height: 66px;
  width: calc(100vw - 232px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaecf0;
  background-color: #fff;
}
.header__main__searchbar,
.header__main__notification,
.header__main__calendar,
.header__main__tiles {
  height: 33px;
}

.header__main__notification__icon,
.header__main__calendar__icon,
.header__main__tiles__icon {
  height: 24px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header__main__searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  height: 46px;
  margin-left: 32px;
  padding: 0px 16px;
  gap: 8px;

  background: #ffffff;
  border: 1px solid #eaecf0;
  border-radius: 6px;
}
#search-input {
  border: none;
  line-height: 30px;
  width: 100%;
}
.header__main__avatar__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-image: url(./images/header-Icons/avatar200.jpg);
  background-size: contain;
  position: relative;
}
.header__main__avatar__icon__status {
  position: absolute;

  right: 0px;
  bottom: 0px;
}
