* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e4e5ea;
}
.main__container {
  background-color: #1e1e1e;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding: 50px 150px 50px 150px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.header__logo__container {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-right: 53px;
}
.header__logo__ad {
  width: 165px;
}
.header__navbar__container {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0px;
  margin-right: auto;
  /* width: 70%; */
}

.header__navbar__container p {
  margin-right: 30px;
}
.header__navbar__container p > a {
  text-decoration: none;
}
.header__contacts__container,
.header__contacts__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.header__contacts__socials__whats,
.header__contacts__socials__viber {
  width: 16px;
  margin-left: 34px;
}
.header__contacts__socials__telegram {
  width: 16px;
  margin-left: 48px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 94px;
}
.content__left {
  width: 362px;
}
.content__left h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;
  margin-bottom: 30px;
}
.content__left h1 > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.content__left p {
  display: block;
  width: 275px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #e4e5ea;
}
.content__right {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content__right__gift {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 30px;
  row-gap: 30px;
}
.content__right__gift__widget {
  grid-row: 1/2;
  grid-column: 1/2;
}
.content__right__gift__dashboard {
  grid-row: 1/2;
  grid-column: 2/3;
}
.content__right__gift__audit {
  grid-row: 2/3;
  grid-column: 1/2;
}
.content__right__gift__days {
  grid-row: 2/3;
  grid-column: 2/3;
}

.content__right__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  color: #e4e5ea;
  margin-bottom: 40px;
}
.content__right__header span {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
.content__right__gift {
  margin-bottom: 60px;
}
.content__right__gift__widget h3,
.content__right__gift__dashboard h3,
.content__right__gift__audit h3,
.content__right__gift__days h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #e4e5ea;
}
.content__right__gift__widget p,
.content__right__gift__dashboard p,
.content__right__gift__audit p,
.content__right__gift__days p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;
}
.content__right__button {
  width: 262px;
  height: 61px;
}
.content__right__button button {
  background-color: #4077f3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 262px;
  height: 61px;
  color: #e4e5ea;
}
.footer__main {
  margin-top: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #e4e5ea;
}
.footer__about {
  margin-right: 98px;
}
.footer__about p:nth-child(2) {
  margin-bottom: 10px;
}
.footer__menu__content__left {
  margin-right: 52px;
}
.footer__about p > a,
.footer__menu__content__left p > a,
.footer__menu__content__right p > a {
  text-decoration: none;
}
.footer__about__title,
.footer__menu__title,
.footer__contacts__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #656566;
  margin-bottom: 20px;
}
.footer__menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__menu__content__left,
.footer__menu__content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 10px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 22px;
}
.footer__contacts__socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.footer__contacts__socials img {
  width: 14px;
  display: inline-block;
  margin-left: 14px;
}
.footer__contacts p:nth-of-type(3) {
  margin-bottom: 70px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer__copyright p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: right;

  /* light text */

  color: #e4e5ea;
}
