* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e4e5ea;
}
.main__container {
  background-color: #1e1e1e;
  width: 100vw;
  height: 100vh;
  padding: 50px 150px 50px 150px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.header__logo__container {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.header__logo__ad {
  width: 165px;
}
.header__navbar__container {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.header__contacts__container,
.header__contacts__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 94px;
}
.content__left {
  width: 362px;
}
.content__left h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;
  margin-bottom: 30px;
}
.content__left h1 > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.content__left p {
  display: block;
  width: 275px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #e4e5ea;
}
.content__right {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content__right__gift {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 30px;
  row-gap: 30px;
}
.content__right__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  color: #e4e5ea;
  margin-bottom: 40px;
}
.content__right__header span {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
.content__right__gift {
  margin-bottom: 60px;
}
.content__right__gift__widget h3,
.content__right__gift__dashboard h3,
.content__right__gift__audit h3,
.content__right__gift__days h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #e4e5ea;
}
.content__right__gift__widget p,
.content__right__gift__dashboard p,
.content__right__gift__audit p,
.content__right__gift__days p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;
}
.content__right__button {
  width: 262px;
  height: 61px;
}
.content__right__button button {
  background-color: #4077f3;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 262px;
  height: 61px;
  color: #e4e5ea;
}
