:root {
  --basecolor: white;
  --fontcolor: red;
}
body {
  background: var(--basecolor);
  text-align: center;
  font-family: "Comfortaa", cursive;
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
}
#minute {
  transform-origin: 50% 50%;
  animation: rotate 5s linear infinite;
}
#hour {
  transform-origin: 50% 50%;
  animation: rotate 50s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
