* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
@keyframes moveX {
  from {
    left: 0;
  }

  to {
    left: calc(100vw - 150px);
  }
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 150px);
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 150px);
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 150px);
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - 90px);
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - 90px);
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - 90px);
  }
}
@keyframes moveY {
  from {
    top: 0;
  }

  to {
    top: calc(100vh - 90px);
  }
}
@-webkit-keyframes changeColor {
  0% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 31, 13)) saturate(5);
  }
  50% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 61, 13)) saturate(5);
  }
  65% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(42, 203, 5)) saturate(5);
  }
  100% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(79, 234, 13)) saturate(5);
  }
}
@-moz-keyframes changeColor {
  0% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 31, 13)) saturate(5);
  }
  50% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 61, 13)) saturate(5);
  }
  65% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(42, 203, 5)) saturate(5);
  }
  100% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(79, 234, 13)) saturate(5);
  }
}
@keyframes changeColor {
  0% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 31, 13)) saturate(5);
  }
  50% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 61, 13)) saturate(5);
  }
  65% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(42, 203, 5)) saturate(5);
  }
  100% {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(79, 234, 13)) saturate(5);
  }
}
#logo-container {
  position: absolute;
  background-color: transparent;
  width: 150px;
  height: 100px;

  animation: moveX 3.05s linear 0s alternate, moveY 3.5s linear alternate,
    changeColor 4s linear;
  animation-iteration-count: infinite;
}
.dvd-logo {
  width: 150px;
  height: 100px;
  /* filter: opacity(0.5) drop-shadow(0 0 0 rgb(234, 31, 13)) saturate(5); */
}
#audio-div {
  display: none;
}
